
<div class="contenedor-imagen">
<img href="beer-img" src="/images/beer.png" alt="Beer image">
</div>
<br>
<br>
<div id="container-buttons">
    <a href="/beers"><button id="beer">Check the Beers!</button></a>
    <br>
    <br>
    <a href="/random-beer"><button id="random-beer">Check a Random Beer!</button></a>
</div>
</dir>